.header {
    display: flex;
    background-color: darkslategray;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 10px;
}

.container {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100pc;

  background-color: darkslategray;
  color: white;
}